/*
  Variables 
           */
$link-color: #ECF0F1;
$background: #D2D7D3;
$gray: #333;
$font: 'Oswald', sans-serif;

body {
  background-color: $background;
  font-family: $font;
}

.logo {
  display: block;
  margin: 0 auto;
  background-color: $background;  

  img {
   width: 80%;
   display: block;
   margin: 0 auto;
}
}

.ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
nav {
  background-color: $gray;
  margin: 0 auto 5px;

  li {
    display: inline-block;
    font-size: 1.2em;
    //line-height: 1.7em;
  }

  li a {
    color: $link-color;
    text-decoration: none;
    padding: 0 5px;
  }

  li a:hover {
    background-color: red;
}
}


img {
    width: 100%;
}

article {
  position: relative;
}

.type {
  font-size: 1em;
  color: #D91E18;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  background: black;

  p {
    margin: 0;
    padding: 3px;
  }
}

.h1-text {
  font-size: 1.6em;
  color: $link-color;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;

  p {
   text-shadow: black 2px 2px 2px;
   //border: 1px solid black;
   background: #1d1d1d;
  }
}

.news {

  h3 {
    letter-spacing: .05em;
    margin-bottom: 0px;
  }

  .ul {
    padding: 5%;
    text-align: left;
  }

  .ul li {
    border-bottom: 1px solid black;
  }
}

span.credit {
  font-size: 12px;
}